<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="icon" class href="{% static 'images/icon.png' %}">
    <script src="https://kit.fontawesome.com/58ba5332de.js" crossorigin="anonymous"></script>
    <title>Histórico Digital</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
      <a class="navbar-brand" href="#"></a>
      <i class="fas fa-car"></i>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Início<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Serviços</a>
          </li>
          {% if user.user_type_id == 2 %}
          <li class="nav-item">
            <a class="nav-link" href="/new_service">Novo Serviço</a>
          </li>
          {% endif %}
        </ul>
        <a class="btn btn-danger" href="/logout">Logout</a>
      </div>
    </nav>
    <div>
      {% block content %} {% endblock content %}
    </div>
  </body>
</html>
